<div style="border: solid 2px black; margin-bottom: 20px;">
    <h3 class="pull-right">Exercise Program</h3>
    <div class="clearfix"></div>
    <h4 class="h4" style="white-space: nowrap">Name:</h4> <b>{{program.name}}</b>
    <h4 class="h4">Description:</h4> <b>{{program.description}}</b>
</div>
<div ui-view></div>
        
