<h3 class="page-header">Congrats! You signed up!</h3>
<h5>Your name: {{ user.name }}</h5>
<h5>Your email: {{ user.email }}</h5>
<a class="btn btn-block btn-success" ui-sref="wizard.start">Start over</a>