<h3>Step 2</h3>
<form ng-submit="">
    <input class="form-control" type="email" ng-model="user.email" placeholder="Your email" />
    <input class="btn" type="submit" class="button" value="Next" ui-sref="wizard.finish"/>
</form>