<!-- step_1.html -->
<h3>Step 1</h3>
<form ng-submit="">
    <input class="form-control" type="text" ng-model="user.name" placeholder="Your name" />
    <input class="btn " type="submit" class="button" value="Next" ui-sref="wizard.email"/>
</form>